body{
    margin: 0px;
    overflow: hidden;
    font-family: 'lucida grande', Sans-Serif;
    font-size: 75%;
}


a:link {color: #787878;}
a:visited {color:#787878;}
a:hover {color: #a0a0a0;}


.attributeList {
    height: 1px;
    width: 360px;
    background-color: #fafafa;
    font-size: 11px;
    color: #555;
    text-align: left;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;
    padding: 5px 6px;
    display:none;
}


.attributeList h5 {
    display: inline;
    color : lightslategray;;
}

.attributeListHeader{
    background-color: #e8e8e8;
    font-size: 13px;
    padding: 5px 2px;
}

.openFile{
    padding: 10px;
    background-color: #ffffff;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
    z-index: 101;
    font-size: 100%;
}

.openFile h2 {
    margin: 0px;
    background-color: #e8e8e8;

}

.openButton{
    margin: 25px;
    justify-content: center;
}

.urlInput{
    width: 100%;
}