body{
    margin: 0px;
    overflow: hidden;
    font-family: 'lucida grande', Sans-Serif;
    font-size: 75%;
}


a:link {color: #787878;}
a:visited {color:#787878;}
a:hover {color: #a0a0a0;}


.vA3C_attributeList {
    height: 1px;
    width: 360px;
    background-color: #fafafa;
    font-size: 11px;
    color: #555;
    text-align: left;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;
    padding: 5px 6px;
    display: none;
    overflow: auto;
    opacity: 0.85;
}


.vA3C_attributeList h5 {
    display: inline;
    color : lightslategray;;
}

.vA3C_attributeListHeader{
    background-color: #e8e8e8;
    font-size: 13px;
    padding: 5px 2px;
}

.vA3C_openFile{
    padding: 10px;
    background-color: #ffffff;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -150px;
    width: 300px;
    height: 100px;
    z-index: 1001;
    font-size: 100%;
}

.vA3C_openFile h2 {
    margin: 0px;
}

.vA3C_openButton{
    margin: 25px;
    justify-content: center;
}

.vA3C_blackout{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.66;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}

.vA3C_loading{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    display: none;
    z-index: 1002;
    color: #ffffff;
}

.vA3C_errorMessage{

}