<!doctype html>
<html lang=en >
<head>
<title>index-left-side-hackette</title>
<meta charset=utf-8 />
<meta name=viewport content='width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0' />
</head>
<body>
<script src=http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js ></script>
<script>

	var header, menu, content;

	init();

	function init() {

		var txt = 'lorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?';

		var css = document.body.appendChild( document.createElement('style') );
		css.innerHTML = 'body { font: 600 12pt monospace; margin: 0; overflow: hidden; }' +
			'h1 { margin: 0; }' +
			'h1 a, #bars { text-decoration: none; }' +
//			'h2 { background-color: #f8f8f8; padding: 0 5px; }' +
			'h2.close::before { content: "► "; }' +
			'h2.open::before { content: "▼ "; }' +
			'#bars { color: #ccc; }' +
		'';

		header = document.body.appendChild( document.createElement( 'div' ) );
		header.style.cssText = 'position: absolute; left: 350px; top: 20px; transition: left 1s; ';
		header.innerHTML = '<h1><a href=JavaScript:slideMenu(); id=bars >&#9776;</a></h1>';

		menu = header.appendChild( document.createElement( 'div' ) );
		menu.style.cssText = 'background-color: #eee; height: ' + ( 0.95 * window.innerHeight ) + 'px; left: -350px; opacity: 0.85; overflow: auto; ' +
			'padding: 0 15px; position: absolute; top: 0px; width: 300px; ';

		loadMarkdownInMenu( 'left-side-menu.md', menu );

//		loadMarkdownInIframe( '#readme.md#' );

//		loadMarkdownInDiv( 'readme.md' );

		loadHTMLInIframe( '#../../template-threejs.html#' );

//		slideMenu();

		window.addEventListener ( 'hashchange', onHashChange, false );

	}

	function slideMenu(){

		header.style.left = header.style.left === '20px' ? '350px' : '20px';

	}

	function onHashChange() {

		hashes = location.hash.split ( '#' );

		if ( hashes.length < 1 ) { return; } 

		var fileName = hashes[ 1 ].toLowerCase();

		var fileType = (fileName.substr( fileName.lastIndexOf( '.' )).toLowerCase() );

		if ( fileType === '.html' || fileType === '.htm' ) {

			loadHTMLInIframe( location.hash );

		} else if ( fileType === '.md' ) {

			loadMarkdownInDiv( fileName );

		}

	}


	function loadHTMLInIframe( hash, callback ) {

		ifr = resetIframe( callback );

		ifr.src = hash.substr( 1 );

	}


	function loadMarkdownInMenu( fileName, panel ) {

		var converter = new Showdown.converter();

		var xmlHttp = new XMLHttpRequest();
		xmlHttp.open( 'GET', fileName, true );
		xmlHttp.onreadystatechange = callback;
		xmlHttp.send( null );

		function callback() {

			if ( xmlHttp.readyState === 4  ) {

				var text = xmlHttp.responseText;

				panel.innerHTML = converter.makeHtml( text );

				items = document.body.getElementsByTagName( 'h2' );

				for ( var i = 0; i < items.length; i++ ) {

					items[ i ].style.cssText +=  'background-color: #f8f8f8; padding: 0 5px;' ;

					items[ i ].id = 't' + i;

					if ( items[ i ].innerHTML.indexOf( '(open)' ) === -1 ) {

						items[ i ].className += ' close';
						item = items[ i ].nextElementSibling;

						while ( item && item.tagName !== 'H2' ) {

							item.style.display = 'none';
							item = item.nextElementSibling;

						} 

					} else {

						items[ i ].className += ' open';
						items[ i ].innerHTML = items[ i ].innerHTML.replace( '(open)','' );


					}

					items[ i ].onclick = function() { toggle( this ); };

				}

			}
		}
	}


	function toggle( element ) {

		element = document.getElementById( element.id );
		content = element.nextElementSibling;

		if ( content.style.display === '' ) {

			while ( content && content.tagName !== 'H2' ) {
				content.style.display = 'none';
				content = content.nextElementSibling;
			}

			element.className = 'toggle close';

		} else {

			while ( content && content.tagName !== 'H2' ) {

				content.style.display = '';
				content = content.nextElementSibling;

			}

			element.className = 'toggle open';

		}

	}


	function loadMarkdownInDiv( fileName ) {

resetIframe( );
		var converter = new Showdown.converter();

		var xmlHttp = new XMLHttpRequest();
		xmlHttp.open( 'GET', fileName, true );
		xmlHttp.onreadystatechange = callbackDiv;
		xmlHttp.send( null );

		function callbackDiv() {

			if ( xmlHttp.readyState === 4  ) {

				var text = xmlHttp.responseText;

				if ( !content || !content.innerHTML ) {

					content = document.body.appendChild( document.createElement( 'div' ) );
					content.style.cssText = 'border: 0px solid red; font: bold 12pt monospace; left: 350px; margin: 20px auto; position: absolute; ' +
						'right: 0; max-width: 800px; ' +
					'';

				}

				content.innerHTML = converter.makeHtml( text );

			}

			document.body.style.overflow = 'auto';

		}

	}


	function loadMarkdownInIframe( hash, callback ) {

		ifr = resetIframe( callback );

		var srcdoc = 

			"<div id=doc ><\/div>" +

			"<script src=http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js ><\/script>" +

			"<script>" +

			"	doc.style.cssText = 'font: bold 12pt monospace; margin: auto; max-width: 900px';" +

			"	var xmlHttp;" +

			"	var converter = new Showdown.converter();" +

			"	requestFile( '" + hash.substr( 1 ) + "' );" +

			"	function requestFile( fileName ) {" +

			"		xmlHttp = new XMLHttpRequest();" +
			"		xmlHttp.open( 'GET', fileName, true );" +
			"		xmlHttp.onreadystatechange = callback;" +
			"		xmlHttp.send( null );" +

			"	}" +

			"	function callback() {" +

			"		var text = xmlHttp.responseText;" +
			"		text = converter.makeHtml( text );" +
			"		doc.innerHTML = text;" +

			"	}" +

			"<\/script>" +

		"";

		ifr.srcdoc = srcdoc;

//		slideMenu(); // to hide

//		location.hash = '';

	};



	function resetIframe( callback ) {

		if ( content && content.innerHTML ) {  content.innerHTML = ''; }

		var iframes = document.getElementsByTagName( 'iframe' );

		for ( var i = 0, len = iframes.length; i < len; i++ ) {

			iframes[0].parentNode.removeChild( iframes[ 0 ] );

		}

		document.body.style.overflow = 'hidden';

		var ifr = document.body.appendChild( document.createElement( 'iframe' ) );
		ifr.width = window.innerWidth;
		ifr.height = window.innerHeight;
		ifr.style.cssText = 'border-width: 0; position: absolute; z-index: -10';
		ifr.onload = callback || function() {};

		return ifr;

	}

</script>
</body>
</html>
